#nav {
    background-color: #E00000;
    color: #000;
    height: 55px;
    display: block;
    position: relative
}

#nav:hover {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}


.navbar {
    border-top-left-radius: 3px;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    height: 42px
}


.navbar, .navbar ul {
    margin: 0;
    list-style: none;
    padding: 0 5px 5px 0;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center
}
.navbar ul a {
    padding-top: 0;
    padding-right: 3px;
    margin-top: 2px;
    margin-left: 8px
}




@media screen and (min-width: 1160px) and (max-width: 1300px) {
    .classified-listing-p #container {
        margin-right: 10px;
        margin-left: initial
    }
}

@media screen and (min-width: 1300px) and (max-width: 1450px) {
    .classified-listing-p #container {
        margin-right: 35px;
        margin-left: initial
    }
}

@media screen and (min-width: 1450px) and (max-width: 1600px) {
    .classified-listing-p #container {
        margin-right: 150px;
        margin-left: initial
    }
}
