




@font-face {
    font-family: "s";
    src: url(../s.ttf);

}


body {
    padding: 0;
    font-family:s;
    background-color: #fff;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    font-size: 15px;
    color: #7a7a7a;
    line-height: 34px;
}

section {
    padding-top: 20px;
}




.upper-bar .list-unstyled {
    margin-top: 50px;
}
/*nav*/
.upper-bar{
    background-color: #ca4949;
    padding: 9px 0;
}
.social-icons a{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-left: 4px;
    background-color: rgba(255 , 255 , 255 , 0.2);
    display: inline-block;
    text-align: center;
    line-height: 36px;
}
.social-icons a i{
    color: #fff;
    font-size: 17px;
}
.social-icons a:hover , .service:hover .service-icon{
    -ms-transform:scale(1.3) rotate3d(1, 1, 0, 180deg);
    -webkit-transform:scale(1.3) rotate3d(1, 1, 0, 180deg);
    transform:scale(1.3) rotate3d(1, 1, 0, 180deg);
    -webkit-transform-origin: middle;
    -ms-transform-origin: middle;
    transform-origin: middle;
}
.social-icons a:hover i , .service:hover .service-icon img{
    -ms-transform:rotate3d(1, 1, 0, -180deg);;
    -webkit-transform:rotate3d(1, 1, 0, -180deg);
    transform:rotate3d(1, 1, 0, -180deg);
}





.nav-bar ul li._nav-item:hover a{
    color: #5E4898;
}
.upper-bar .u-links li{
    padding: 0 10px;
    float: right;
    border-left: 1px solid #e4e4e4;
}
.upper-bar .u-links li:last-of-type{
    border: none;
}
.upper-bar .u-links li a{
    color: #434142;
    font-size: 15px;
    line-height: 26px;
}
.upper-bar .u-links li a span{
    margin: 0 7px;
    color: #cacaca;
}


.login-header{
    position: relative;
    margin-right: 50px;
}



.upper-bar .u-links li a i{
    font-size: 15px;
    display: block;
    color: #ca4949;
    text-align: center;
    margin-bottom: 6px;
}
._dropdown{
    position: relative;
}
.drop{
    position: absolute;
    background-color: rgba(94 , 72 , 152 , 1);
    top:40px;
    right: 0;
    width: 150px;
    -webkit-transform:translateY(30px);
    -ms-transform:translateY(30px);
    transform:translateY(30px);
    z-index: 9;
    opacity: 0;
    visibility: hidden;
}
.drop li{
    padding: 0!important;
}
.drop::after{
    content:"";
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: rgb(94 , 72 , 152);
    right: 20px;
    top:-5px;
    -webkit-transform:rotateZ(45deg);
    -ms-transform:rotate(45deg);
    transform:rotateZ(45deg);
    z-index: -1;
}
.drop::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 20px;
    background-color:transparent;
    right: 0;
    top:-20px;;
    z-index: -2;
}
.drop a{
    color: #fff;
    display: block;
    text-align: center;
    font-size: 13px!important;
}
.drop a:hover{
    background-color: rgba(255 , 255 , 255 , 0.2);
}




.section-heading {
    margin-bottom: 30px;
}

.section-heading span {
    font-size: 14px;
    display: block;
    margin: 0px;
    color: #d4d4d4;
}

.section-heading h2 {
    margin-bottom: 0px;
    margin-top: 14px;
    font-size: 23px;
    font-weight: 600;
    color: #232323;
    letter-spacing: 0.5px;
}


.blue-button a {
    display: inline-block;
    background-color: #434142;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 16px;
    text-decoration: none;
    border: 2px solid #434142;
    transition: all 0.5s;
}

.blue-button a:hover {
    background-color: transparent;
    color: #434142;
}


/* Header Style */

.cf:before,
.cf:after {
    content: '';
    display: table;
    visibility: hidden;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

#header {
    overflow: visible;
    position: relative;
    background-color: #fff;
    border: 1px solid #dedede;
}



.add-adv a {
    background: #ca4949;
    color: #fff;
    margin-top: 30px;
    display: block;
    width: 160px;
    text-align: center;
    padding: 11px;
    text-decoration: underline;
    font-size: 15px;
}

.logo-link{
    float:left;
}


.country-select select {
    height: 36px;
    padding: 1px;
    border: 1px solid #dedede;
    position: relative;
    top: 40px;
    margin-right: 9px;
    outline: none;
    width: 104px;
}


@media screen and (max-width:640px){


    .country-select select {
        height: 46px;
        padding: 3px;
        border: 0;
        position: relative;
        top: 20px;
        margin-right: 9px;
        outline: none;
        width: 99px;
    }

}


#primary-nav-button {
    background: transparent;
    display: none;
    position: absolute;
    border: none;
    bottom: -110px;
    left: 15px;
    top: 0;
    z-index: 9;
    padding: 0;
    outline: none;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 0;
}

#primary-nav-button:hover {
    background: rgba(0,0,0,0.05);
}

#primary-nav-button.selected {
    background: rgba(0,0,0,0.1);
}

#primary-nav-button:before {
    /* content: 'â˜°'; */
    content: '\2261';
    display: inline-block;
    background-color: #434142;
    font-size: 37px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.05;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: inherit;
    /* speak: none; */
    border: none;
}

#header .logo {
    float: right;
}

#header .logo img {
    width: 100px;
    overflow: hidden;
}

.menu {
    text-align: center;
    /* top: -13px; */
    /*padding: 16px;*/
}

.menu li {
    /*float: ;*/
    display: inline-block;
    margin-left: 8px;
    /*padding: 16px 0;*/
    position: relative;
    /*line-height: 100px;*/
}

.menu > li {
    padding: 16px 0;
}

.menu li:last-child {
    margin-right: 0;
}

.menu .sub-menu li {
    width: 100%;
    margin-left: 0px;
}

.menu li a {
    display: block;
    text-decoration: none;
}

#primary-nav li a {
    color: #121212;
    font-weight: bold;
    /*line-height: 100px;*/
    padding: 0px 15px;
    font-size: 15px;
    font-weight: 400;
    transition: all 0.5s;
}

#primary-nav li > a:hover,
#primary-nav li.selected > a {
    color: #434142;
}

.sub-menu {
    border-top: 3px solid #434142;
}

.sub-menu li a {
    line-height: 50px!important;
    font-size: 13px!important;
    color: #7a7a7a;
}

.downarrow {
    background: none;
    display: inline-block;
    padding: 0;
    text-align: center;
    min-width: 3px;
}

.sub-menu .downarrow {
    position: absolute;
    left: 9px;
    transform: rotate(180deg);
    top: 0;
    font-size: 18px;
    padding-right: 10px;
}
/*
.downarrow:before {
  content: '\25be';
  color: inherit;
  display: block;
  font-size: 1em;
  line-height: 1.1;
  width: 1em;
  height: 1em;
}*/

.menu .sub-menu {
    display: none;
    position: absolute;
    left: 0;
    max-height: 1000px;
}

.menu .sub-menu li {
    line-height: 40px;
}

.sub-menu .sub-menu {
    right: 100%!important;
}

.menu .sub-menu.hide {
    display: none;
}

#primary-nav .sub-menu {
    background-color: #fff;
    /*border: 3px solid #ff9000;*/
    direction: rtl;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
    width: 220px;
    z-index: 200;
    right: 0;
    top: 54px;
}

#primary-nav .sub-menu li {
    border-bottom: 1px solid #ddd;
}

#primary-nav .sub-menu li:last-child {
    border-bottom: 0;
}

#primary-nav .sub-menu .downarrow:before {
    content: '\25b8';
}

#primary-nav.mobile {
    display: none;
    position: absolute;
    top: 100px;
    background: #fff;
    width: 100%;
    right: 15px;
    left: 0;
    z-index: 999999;
}

#primary-nav.mobile .menu {
    text-align: center;
    width: 100%;
}

#primary-nav.mobile li {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

#primary-nav.mobile li:first-child  {
    width: 100%;
    margin: 0;
    border-top: 1px solid #ddd;
}

#primary-nav.mobile li.selected > a {
    border-bottom: 1px solid #ddd;
}

#primary-nav.mobile li:last-child {
    border: none;
}


#primary-nav.mobile .sub-menu {
    float: left;
    position: relative;
    width: 100%;
}

#primary-nav.mobile .sub-menu .downarrow {
    top: 15px;
    position: absolute;
    right: 15px;
}

.mobile .downarrow,
.mobile .sub-menu .downarrow {
    position: absolute;
    top:42px;
    right: 25px;
}

#primary-nav.mobile .sub-menu .downarrow:before {
    content: '\25be';
}
#primary-nav-button.mobile {
    display: inline-block;
}




/* Banner Style */

section.banner {
    padding: 0px;
    margin-top: 10px;
}

.banner {
    background-image: url(../img/main_banner.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .banner-caption {
    padding:40px 0px 200px 0;
}

.banner .banner-caption .line-dec {
    width: 80px;
    height: 3px;
    display: none;
    background-color: #434142;
}

.banner .banner-caption h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 42px;
    letter-spacing: 0.5px;
    color: #fff;
}

.banner .banner-caption span {
    font-size: 22px;
    color: #fff;
    letter-spacing: 0.5px;
}

.banner .banner-caption .blue-button {
    margin-top: 30px;
}


.popular-places .col-md-3{
    margin-bottom: 30px;
}

.popular-places .col-md-4{
    margin-bottom: 30px;
}

.btn-add-header {
    background: #ca4949;
    color: #fff!important;
    /*margin-top: 30px;*/
    display:inline-block!important;
    width: 130px;
    text-align: center;
    padding: 9px!important;
    text-decoration: underline!important;
    font-size: 15px!important;
    line-height: 28px!important;
}

.banner .submit-form {
    border-bottom: 5px solid #434142;
    background-color: rgba(0,0,0,.4);
    padding: 15px;
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.submit-form .first-item {
    border-right: 1px solid #ddd;
}

.submit-form .second-item {
    border-right: 1px solid #ddd;
}

.submit-form .third-item {
    border-right: 1px solid #ddd;
}

.submit-form select {
    width: 100%;
    height: 50px;
    border: none;
    background-color: transparent;
    font-size: 15px;
    color: #9a9a9a;
    outline: none;
    padding: 0px 10px;
    display: inline-block;
}

.banner .nav > li > a{
    color: #fff;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #ca4949;
}

/*.nav-pills{
  margin-bottom: 0px;
}*/



/*.fixed-footer*/



.fixed-footer {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background: #fff;
    padding: 15px;
    box-shadow: 10px 10px 10px 10px #dedede;
}

.fixed-footer ul{
    padding: 0; list-style: none; text-align: center;
}


.fixed-footer ul li{
    display: inline-block;
    text-align: center;
    width: 24%;
}

.fixed-footer ul li i{
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
    color: #ca4949
}

.fixed-footer ul li a{
    color: #212121
}



.add-adv1 .container{
    background: whitesmoke;
    padding: 27px;
    margin-top: 30px;
    border-radius: 5px;}


.add-adv1 .container h4{
    font-size: 27px;
}


.add-adv1 .container h5 {
    font-size: 14px;
    margin: 20px 0;
    color: #ca4949;
}



.add-adv1 .container .options > li {
    padding: 21px 0;
    border-bottom: 1px solid #dedede;
    font-size: 16px;
}

.add-adv1 .container .options >  li > a {
    color: #4e4e4e;
}

.add-adv1 .container .options > li ul {
    margin-top: 10px;
}


.add-adv1 .container .options > li ul li {
    padding: 1px 17px;
}

.add-adv1 .container .options > li ul li a {
    font-size: 14px;
}



.add-adv1 .container a.arr {
    float: left;
}


.add-adv1 .container img {
    margin-left: 4px;
}


.add-adv1 a.continuie {
    color: #fff;
    padding: 11px 40px;
    background: #ca4949;
    display: inline-block;
    margin: 21px 0;
}


.addv3 input[type="file"] {
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.addv3 form div {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ccc;
    border: 3px dotted #bebebe;
    border-radius: 10px;
}

.addv3 label {
    display: inline-block;
    position: relative;
    margin-top: 21px;
    height: 100px;
    width: 400px;
}

.addv3  div.dragover {
    background-color: #aaa;
}


.addv4 button[type="submit"]{
    color: #fff;
    border: 0;
    padding: 11px 40px;
    background: #ca4949;
    display: inline-block;
    margin: 21px 0;
}


.submit-form input ,
.submit-form select {

    width: 100%;
    height: 50px;
    border: none;
    background-color: #fff;
    font-size: 15px;
    color: #9a9a9a;
    outline: none;
    padding: 0px 10px;
    display: inline-block;
    box-shadow: none;
}

.submit-form input:focus{
    border-width: 0px;
    outline:0; /* I have also tried outline:none */
    -webkit-appearance:none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.submit-form button {
    width: 100%;
    height: 50px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    border-radius: 0px;
    background-color: #434142;
    font-size: 17px;
    letter-spacing: 0.5px;
    color: #fff;
    font-weight: 600;
    border: 2px solid #434142;
    transition: all 0.5s;
}

.submit-form button:hover {
    background-color: transparent;
    color: #434142;
}

.popular-places .owl-nav {
    display: none;
}

.popular-places .owl-dots {
    margin-top: 40px;
    text-align: center;
}

.popular-places .owl-dots .owl-dot span  {
    width: 12px;
    height: 12px;
    background-color: #cdcdcd!important;
    display: inline-block;
    border-radius: 50%;
    margin: 0 3px;
}

.popular-places .owl-dots .active span {
    background-color: #434142!important;
}

.popular-places .owl-dots button {
    outline: none;
}

.popular-places .popular-item .thumb {
    position: relative;
}

.popular-places .popular-item .thumb img {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    height: 200px;
    border-radius: 5px;
}

.popular-places .popular-item .thumb .text-content {
    position: relative;
    z-index: 9;
    text-align: right;
    color: #191919;
}

.popular-places .popular-item .thumb .text-content h4 {
    font-size: 16px;
    /*font-weight: 500;*/
    /*letter-spacing: 0.5px;*/
    /*margin-top: 0px;*/
    margin-bottom: 5px;
    line-height: 31px;
    margin-top: 8px;
}

.popular-places .popular-item .thumb .text-content span {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    display: block;
    color: #ca4949;
}

.popular-places .popular-item .thumb .plus-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 9;
}


.popular-places .popular-item .thumb .plus-button i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    transition: all 0.5s;
}

.popular-places .popular-item .thumb .plus-button i:hover {
    background-color: rgba(250,250,250,0.3);
}



section.featured-places {
    margin-top: 80px;
    padding-bottom: 80px;
    background-color: #f4f4f4;
}

.featured-places .featured-item .thumb {
    position: relative;
    z-index: 1;
}

.featured-places .featured-item .thumb img {
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.featured-places .featured-item .thumb .overlay-content {
    position: absolute;
    z-index: 9;
    top: 30px;
    left: 30px;
    color: #fff;
}

.featured-places .featured-item .thumb .overlay-content li {
    display: inline;
    margin-right: 3px;
}

.featured-places .featured-item .thumb .date-content {
    position: absolute;
    z-index: 9;
    top: 30px;
    right: 30px;
    color: #fff;
    text-align: center;
    width: 90px;
    height: 90px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: #434142;
    border-radius: 50%;
}

.featured-places .featured-item .thumb .date-content h6 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 18px;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
}

.featured-places .featured-item .thumb .date-content span {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0.5px;
}

.featured-places .featured-item .down-content {
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    padding: 20px 20px 0px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.featured-places .featured-item .down-content h4 {
    margin-top: 0px;
    font-size: 19px;
    font-weight: 600;
    color: #232323;
    margin-bottom: 5px;
}

.featured-places .featured-item .down-content span {
    display: block;
    font-size: 13px;
    color: #434142;
    margin-bottom: 15px;
}

.featured-places .featured-item .down-content p {
    margin-bottom: 20px;
}

.featured-places .featured-item .down-content .col-md-6 {
    padding-left: 0px;
    padding-right: 0px;
}

.featured-places .featured-item .down-content .text-button {
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #ddd;
    margin: 0px -5px;
}

.featured-places .featured-item .down-content .first-button {
    border-right: 1px solid #ddd;
}

.featured-places .featured-item .down-content .text-button a {
    font-size: 12px;
    text-transform: uppercase;
    color: #7a7a7a;
    letter-spacing: 0.5px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    transition: all 0.5s;
}

.featured-places .featured-item .down-content .text-button a:hover {
    color: #434142;
}



.service-item h4 span{
    float: left;
    color: #ca4949;
}

.service-item h4 img{
    margin-left: 6px;
    position: relative;
    top: -2px;
}

.more a {
    color: #ca4949!important;
    display: block;
    margin-top: 12px;
}


section.our-services .service-item {
    /*border: 1px solid #ddd;*/
    border-radius: 10px;
    padding: 0px 10px;
    margin-bottom: 8px;
    height: 245px;
    overflow-y: auto;
}
/*
section.our-services .service-item ul{
}*/




.service-item li a {
    color: #6d6d6d;
    font-size: 13px;
    margin-bottom: 4px;
    display: inline-block;
}


.service-item li a i{
    margin-left: 10px;
}



section.our-services .service-item .icon img {
    width: 30px;
}

section.our-services .service-item h4 {
    font-size: 15px;
    font-weight: 600;
    color: #232323;
    margin-top: 19px;
    margin-bottom: 15px;
}

.our-services .left-content h4 {
    font-size:  19px;
    font-weight:  600;
    color:  #232323;
    margin-top: 0px;
    margin-bottom:  25px;
}

.our-services .left-content .blue-button {
    margin-top: 25px;
}

.down-services {
    border-top: 1px solid #ddd;
    margin-top: 60px;
    padding-top: 60px;
}
.accordion li {
    position: relative;
}
.accordion li a {
    border: 1px solid #ddd;
}
.accordion li:last-child a {

}
.accordion li p {
    display: none;
}
.accordion a {
    width: 100%;
    display: block;
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.5px;
    color: #232323;
    user-select: none;
    padding: 15px 20px;
    text-decoration: none;
}
.accordion a:after {
    width: 15px;
    height: 15px;
    background-color: #ddd;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    content: " ";
    top: 22.5px;
    transform: rotate(-45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.accordion p {
    margin: 0px;
    padding: 20px;
    border: 1px solid #ddd;
}

a.active:after {
    background-color: #434142;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}



section#video-container {
    margin-top: 80px;
}

#video-container  {
    position: relative;
    width: 100%;
    height: 280px;
    overflow: hidden;
    z-index: 1;
}

#video-container video,
.video-overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

#video-container .video-overlay {
    z-index: 9999;
    background: rgba(0,0,0,0.7);
    width: 100%;
}

#video-container .video-content {
    z-index: 99999;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

#video-container .video-content .inner {
    height: 100%;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    /* flex-flow: column wrap; */
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-top: 70px;
}

#video-container .video-content .inner span {
    font-size: 17px;
    display: block;
    margin: 0px;
    color: #fff;
}

#video-container .video-content .inner h2 {
    margin-bottom: 0px;
    margin-top: 14px;
    font-size: 23px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.5px;
}


.download{display: block;}

/*#video-container .video-content .inner a {
  margin-top: 30px;
  width: 60px;
  height: 60px;
  display: inline-block;
  text-align: center;
  line-height: 56px;
  color: #fff;
  background-color: rgba(250,250,250,0.1);
  font-size: 18px;
  border: 3px solid #fff;
  border-radius: 50%;
}
*/

.advertisment{
    margin-top: 120px;
}


.advertisment .col-md-2{
    padding-right: 0
}



.advertisment ul{
    width: 300px;
    margin-top: 10px;
}

.advertisment li {
    float: right;
    width: 50%;
    margin-bottom: 5px;
}

.advertisment .add{
    background: #f7f7f7;
    border: 1px solid #dedede;
    margin-bottom: 10px;
}


.advertisment .price h2{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100px;
    text-align: center;
    color: #ca4949;
}

.advertisment img {
    width: 100%;
    height: 146px;
}



section.pricing-tables .table-item {
    text-align: center;
    background-color: #eeeeee;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0px 0px 40px 0px;
}

section.pricing-tables .table-item .top-content {
    background-color: #434142;
    padding: 30px;
    color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

section.pricing-tables .table-item .top-content h4 {
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 0px;
    margin-bottom: 0px;
}

section.pricing-tables .table-item .top-content h1 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

section.pricing-tables .table-item ul {
    margin: 40px 0px!important;
}

section.pricing-tables .table-item ul li {
    margin: 25px 0px;
}

section.pricing-tables .table-item ul li a {
    font-size: 14px;
    font-weight: 600;
    color: #4a4a4a;
    text-decoration: none;
    transition: all 0.5s;
}

section.pricing-tables .table-item ul li a:hover {
    color: #434142;
}

section.contact .section-heading {
    margin-top: 60px;
    margin-bottom: 30px;
}

.wrapper {
    text-align: center;
}

/* Modal button */
.modal-btn {
    display: inline-block;
    background-color: #434142;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 16px;
    text-decoration: none;
    border: 2px solid #434142;
    transition: all 0.5s;
}
.modal-btn:hover {
    background-color: transparent;
    color: #434142;
}

/* Modal */
.modal {
    background-color: rgba(0,0,0,.65);
    display: none;
    overflow: auto;
    position: fixed;
    z-index: 1000;
    padding-top: 10%;
    padding-bottom: 10%;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.modal-content .section-heading {
    text-align: left;
    margin-top: 0px!important;
}
.modal-content .section-heading h2 {
    margin-top: 10px;
}

.modal-content .left-content {
    padding: 30px;
}

.modal-content .left-content input {
    border-radius: 0px;
    padding-left: 15px;
    font-size: 13px;
    color: #aaa;
    background-color: #f4f4f4;
    border: 1px solid #eee;
    outline: none;
    box-shadow: none;
    line-height: 40px;
    height: 40px;
    width: 100%;
    margin-bottom: 25px;
}

.modal-content .left-content textarea {
    border-radius: 0px;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 13px;
    color: #aaa;
    background-color: #f4f4f4;
    border: 1px solid #eee;
    outline: none;
    box-shadow: none;
    min-height: 140px;
    height: 160px;
    max-height: 180px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 25px;
}

.modal-content .left-content button {
    display: inline-block;
    background-color: #434142;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 0px;
    border: 2px solid #434142;
    transition: all 0.5s;
}

.modal-content .left-content button:hover {
    background-color: transparent;
    color: #434142;
}

.modal-content .right-content {
    background-color: #434142;
    padding: 30px 30px 65px 30px;
    color: #fff;
}

.modal-content .right-content .section-heading h2 {
    color: #fff;
}

.modal-content .right-content .section-heading span {
    color: #fff;
}

.modal-content .right-content p {
    margin-bottom: 50px;
    color: #fff;
}

.modal-content .right-content ul li span {
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.3px;
    width: 80px;
    display: inline-block;
}

.modal-content .right-content ul li a {
    font-size: 13px;
    color: #fff;
    letter-spacing: 0.5px;
    text-decoration: none;
}

.modal-content .right-content ul li {
    margin: 10px 0px;
}

/* Modal Content */
.modal-content {
    position: relative;
    top: 0px;
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
//background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.modal-animated-in {
    animation: totop-in .3s ease;
}
.modal-animated-out {
    animation: totop-out .3s ease forwards;
}
.modal-content .close {
    position: absolute;
    right: -30px;
    top: -30px;
    width: 60px;
    height: 60px;
    z-index: 9999;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    background-color: #fff;
    color: #434142;
    border-radius: 50%;
    opacity: 1;
}

.modal-content .close:hover {
    background-color: #fff;
    color: #434142;
}

/* Keyframes */
@keyframes totop-in {
    0% {
        top: 600px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes totop-out {
    0% {
        top: 0px;
        opacity: 1;
    }
    100% {
        top: -100%;
        opacity: 0;
    }
}



footer {
    /*margin-top: 80px;*/
    padding: 80px 0px 70px 0px;
    border-top: 1px solid #ddd;
}

footer .footer-heading h4 {
    font-size: 21px;
    color: #232323;
    letter-spacing: 0.5px;
    margin-top: 15px;
    margin-bottom: 40px;
}


footer .about-veno .logo {
    margin-bottom: 40px;
}

footer .about-veno ul li a {
    width: 32px;
    height: 32px;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    background-color: #cdcdcd;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    margin-right: 3px;
    transition: all 0.5s;
}

footer .about-veno p {
    margin-bottom: 25px;
}

footer .about-veno ul li a:hover {
    background-color: #434142;
}

footer .useful-links ul li {
    margin-bottom: 12px;
}

footer .useful-links ul li a {
    font-size: 15px;
    color: #7a7a7a;
    letter-spacing: 0.5px;
    text-decoration: none;
    transition: all 0.5s;
}

footer .useful-links ul li a:hover {
    color: #434142;
}

footer .useful-links ul li i {
    color: #434142;
    font-size: 6px;
    position: relative;
    top: -3px;
    margin-left: 8px;
}

footer .contact-info p {
    margin-bottom: 25px;
}

footer .contact-info ul li {
    margin: 10px 0px;
}

footer .contact-info ul li span {
    font-size: 13px;
    color: #7a7a7a;
    font-weight: 600;
    letter-spacing: 0.3px;
    width: 80px;
    display: inline-block;
}

footer .contact-info ul li a {
    font-size: 13px;
    color: #434142;
    letter-spacing: 0.5px;
    text-decoration: none;
}

.sub-footer p {
    text-align: center;
    display: inline-block;
    background-color: #f4f4f4;
    width: 100%;
    margin-bottom: 0px;
    padding: 30px 0px;
    font-size: 15px;
    color: #aaaaaa;
}

.sub-footer a {
    text-decoration: none;
    color: #434142;
}


.service-item a{color: #212121}



@media (max-width:992px) {

    .banner .banner-caption {
        padding: 80px 30px;
    }

    .submit-form input {
        margin-bottom: 20px;
        border-bottom: 1px solid #ddd;
        border-radius: 0px;
    }

    .submit-form select {
        margin-bottom: 20px;
        border-bottom: 1px solid #ddd;
        border-radius: 0px;
    }

    .featured-places .featured-item {
        margin-bottom: 30px;
    }

    .featured-places .featured-item .down-content .first-button {
        border-right: none;
    }

    section.our-services .service-item {
        margin-bottom: 30px;
    }

    .down-services .left-content {
        margin-bottom: 60px;
    }

    #video-container .video-content {
        padding: 0 30px;
        text-align: center;
    }

    .table-item {
        margin-bottom: 30px;
    }

    .modal-content {
        width: 90%;
    }
    .modal-content .close {
        right: 50%;
        left: 50%;
        transform: translateX(-50%);
        top: -30px;
        box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    }

    footer .useful-links {
        margin-top: 60px;
    }

    footer .contact-info {
        margin-top: 60px;
    }

}



@media screen and (max-width:768px){



    .fixed-footer {
        display: block;
    }

    .service-item h4 span{
        display: none;
    }

    .service-item h4 img {
        top: 0;
        display: block;
        text-align: center;
        margin: 12px auto;
    }

    .service-item a {
        color: #212121;
        font-size: 12px;
    }

    .our-services .col-xs-4 {
        padding: 0 3px;
    }


    .popular-places .popular-item .thumb img {
        height: 90px;}


    .our-services{
        background-color: #f9f9f97a;
        padding-top: 30px!important;
        padding-bottom: 30px!important;

    }



    section.our-services .service-item {
        height: 93px;
        background: #fff;
        overflow: hidden;
        text-align: center;
        margin: 3px 1px;
    }

    .upper-bar{
        text-align: center;


    }


    .hide-in-sm{
        display: none!important;
    }



    .advertisment .price h2{
        position: relative;
        left: 0px;
        top: 0px;
        width: 100%!important;
        color: #4883ff;
        margin-top: 80px;
        text-align: right;
        margin-bottom: 20px;
    }




    .owl-carousel.owl-theme.owl-loaded.owl-drag {
        direction: ltr;}


    section.popular-places,
    .our-services {
        padding-top: 30px;
    }

    .popular-places .popular-item .thumb .text-content h4 {
        font-size: 13px;
        line-height: 20px;
        margin-top: 8px;
    }


    #primary-nav li a {
        line-height: 50px!important;
    }

    #primary-nav.mobile {
        right: 0!important;
    }



    .banner .submit-form {
        top: 110%!important;}


    .advertisment img {
        width: 100%;
        margin-bottom: 15px;
        height: auto!important;
    }




    .social-icons{
        text-align: center;
    }


    .upper-bar .list-unstyled {
        float: none!important;
        text-align: center;
        margin-top: 11px;
    }


    .upper-bar .u-links li {
        float: none;
        display: inline-block;
    }



    .upper-bar .u-links li a {
        color: #fff;
        font-size: 13px;
        line-height: 15px;
    }

    .download img {
        margin-bottom: 13px;
    }









}








.single-page{
    background:#fbfbfb
}




.single-page .info-short ul{
    padding: 0;
    display: inline-block;
    width: 100%;
    margin: 30px 0;
}


.single-page .info-short ul li {
    width: 23%;
    float: right;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 15px -3px, rgba(0, 0, 0, 0.04) 0px 4px 6px -2px !important;
    margin: 1%;
    text-align: center;
    padding: 20px 0;
    background: #fff;
}




.single-page .info-short ul li i{
    color:#ca4949;
    display: block;
    margin: 7px 0;
    font-size: 19px;
}


.single-page .title{
    margin-top: 30px;
}

.single-page .imgs-single img{
    margin-top: 30px;
}


.single-page .block h4{
    margin-top: 30px;
    color: #ca4949;
    padding: 8px;
    clear: both;
    margin-bottom: 30px;
    padding-right: 10px;
    border-right: 3px solid #ca4949
}


.single-page .block ul li{
    float: right;
    width:48%;
    margin: 1%;
    margin-bottom: 30px;
}



.single-page .block ul li a {
    line-height: 30px;
    color: #ca4949
}


.login-page{
    padding: 60px;
    background: #fbfbfb;
    text-align: center;
}


.login-page .login-form {
    padding: 30px;
    box-shadow: 0px 0px 30px -9px #dedede;
    background: #fff;
}

.login-page .login-form input[type="email"] ,
.login-page .login-form input[type="text"] ,
.login-page .login-form input[type="password"] {
    width: 100%;
    height: 44px;
    margin: 15px 0;
    padding: 5px;
    border: 1px solid #d4d4d4;
}


.login-page .login-form button {
    background: #ca4949;
    color: #fff!important;
    margin-top: 19px;
    display: inline-block!important;
    width: 130px;
    text-align: center;
    border: 0;
    padding: 9px!important;
    text-decoration: underline!important;
    font-size: 15px!important;
    line-height: 28px!important;
}

.login-page h3 {
    margin-bottom: 37px;
    margin-top: -10px;

}


.login-page .login-form .form-g{
    text-align: right;
}



.full-info {
    border: 1px solid rgb(238, 240, 241);
    padding: 0px;
    border-radius: 12px;
}

.full-info span {
    position: relative;
    left: 20px;
    text-align: left;
    color: #9c9c9c;
    float: left;
}
.full-info p {
    border-bottom: 1px solid rgb(238, 240, 241);
    padding-bottom: 10px;
    font-size: 18px;
    color: #000;
    padding: 10px;
    position: relative;    float: right;
    width: 50%;
}

/*.full-info p:last-child {*/
/*border-bottom: 0px solid #dedede;*/
/*padding-bottom: 10px;*/
/*font-size: 18px;*/
/*color: #000;*/
/*padding: 10px*/
/*}*/


.full-text {
    padding: 15px 0;
    border-bottom: 1px solid #dedede;
}
.full-text h4{
    padding:15px 0;
    font-size: 22px;
}

.full-text h5{
    line-height: 30px;
}



.single-page .price {
    text-align: center;
    font-size: 30px;
    color: #ca4949;
    margin-top: 24px;
    margin-bottom: 0;
}
.buy-option{margin-top: 30px;
    border: 1px solid #dedede;
    padding: 10px;
    background: #fff;
    box-shadow: 0px 0px 20px -6px #e4e4e4;
}
.buy-option a {
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
a.message-us {
    background: #ca4949;
    color: #fff;
}

a.phone-show {
    border: 2px solid;
}

.login-page .register-btn{
    text-align: right;
    margin-top: 26px;
    font-size: 16px;
    /*position: absolute;*/
    /*left: 40px;*/
    /*bottom: 41px;*/
    color: #ca4949;
}


.register-email{
    text-align: right;
}


.login-header span{
    color: #ffffff;
}

a{
    color: #ca4949;
}


.register-text{
    line-height: 47px;
    color: #9a9a9a;
    font-weight: 100;
}




@media screen and (max-width:640px){



    .full-info span {
        position: relative;
        left: 0;
        float: left;
    }


    .single-page .price {
        text-align: center;
    }


    .single-page .info-short ul li {
        width: 48%;
    }

    .login-page {
        padding: 10px;
        padding-bottom: 50px;
    }

    .login-page h3 {
        margin-bottom: 37px;
        margin-top: 30px;
    }



}







.box-city  {
    width: 100%;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 0;
    z-index: 10;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    direction: rtl;
    border-radius: 0 0 8px 8px;
    display: none;
}


.overlay-citys {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000bd;
    opacity: 0;
    display: none;
}


.clk-cit{
    text-decoration: none;
}



.box-city li {
    text-align: right;
    padding: 11px;
    overflow: hidden;
    border-bottom: 1px solid #efefef;
}

.social-login .facebook {
    background: #3a63be;
    color: #fff;
    width: 50px;
    display: inline-block;
    padding: 13px;
    font-size: 17px;
    border-radius: 50%;
    font-size: 22px;
    height: 50px;
}

.social-login .google {
    background: #c94130;
    color: #fff;
    width: 50px;
    display: inline-block;
    padding: 13px;
    font-size: 17px;
    border-radius: 50%;
    font-size: 22px;
    height: 50px;
}

.social-login .apple {
    background: #000;
    color: #fff;
    width: 50px;
    display: inline-block;
    padding: 13px;
    font-size: 17px;
    border-radius: 50%;
    font-size: 22px;
    height: 50px;
}

.social-login .twitter {
    background: #5cabe7;
    color: #fff;
    width: 50px;
    display: inline-block;
    padding: 13px;
    font-size: 17px;
    border-radius: 50%;
    font-size: 22px;
    height: 50px;
}



.social-login {
    display: inline-block;
    margin-top: 14px;
}




.social-login li{
    float: right;
    margin:10px 0 10px 10px;
}



.filter .col-sm-12{
    margin-bottom: 15px;
}


.filter{
    border: 1px solid #dedede;
    border-radius: 2px;
    background: #efefef;
    padding: 21px 7px;
}




.filter button[type="submit"] {
    background: #ca4949;
    color: #fff!important;
    /* margin-top: 30px; */
    display: inline-block!important;
    width: 130px;
    text-align: center;
    padding: 9px!important;
    text-decoration: underline!important;
    font-size: 15px!important;
    line-height: 28px!important;
}


.imgs-single img {
    border: 2px solid black;
}

.slider-big{
    position: relative;
}



.full-info p {
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
}


.owl-nav{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    width: 100%;}


.owl-nav button{outline: none;}

.owl-nav i{
    background: white;
    width: 50px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
}



.slider-big .owl-nav {
    display: -ms-flex !important;
    display: flex !important;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.slider-big .owl-nav .owl-prev,
.slider-big .owl-nav .owl-next {
    cursor: pointer;
    color: #fff;
    font-size: 21px;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(70, 83, 166, 0.75);
}
.slider-big .owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
    background-color: #4653a6;
    -webkit-animation: bounce 1s infinite;
    -o-animation: bounce 1s infinite;
    animation: bounce 1s infinite;
}


.box-city img {
    margin-left: 5px;
    margin-top: -4px;
    display: inline;
    width: 20px;
}




.sent-me{text-align: center; margin-top: 20px; color: #212121}
.sent-me a{ color: #212121}
.box-city a{
    color: #000
}